.swt-kecheng{
    margin: 0 300px;
}
.swt-kecheng .swt-kc-button{
    cursor: pointer;
    padding: 5px 12px;
    border: 1px solid #ccc;
    color: #666;
}
.swt-kecheng .swt-kc-button:hover{
    color: #c7c5c5;
    border: 1px solid #c7c5c5;
}
.swt-jianjie{
    margin: 0 200px;
    line-height: 28px;
}
.swt-jianjie .menu{
    text-align: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-top: 30px;
    margin-bottom: 30px;
}
.swt-jianjie .menu .swt-jianjie-menuitem{
    padding:10px 0;
}
.swt-jianjie .menu .swt-jianjie-menuitem a{
    color: #333;
    font-size: 15px;
    padding-bottom: 5px;
}
.swt-jianjie .menu .swt-jianjie-menuitem a:hover{
    color: #c7c5c5;
    border-bottom: 1px solid #c7c5c5;
}
.swt-jianjie .menu .swt-jianjie-menuitem a.active{
    color: #333;
    border-bottom: 1px solid #333;
}
.swt-jianjie .jianjie-container .jianjie-title{
    font-size: 18px;
    line-height: 18px;
    border-left: 2px solid #333;
    padding-left: 8px;
    font-weight: bold;
    margin-bottom: 8px;
}
.swt-jianjie .jianjie-container, .swt-jianjie .question-container{
    margin: 40px 100px;
}
.swt-jianjie .question-container .question-title, .swt-jianjie .question-container .question-text{
    font-size: 18px;
    font-family: 黑体;
}