.code-box-demo {
  text-align: center;
}
.ant-layout-header,
.ant-layout-footer {
  background: #fff;
  color: rgba(0, 0, 0, 0.65);
  padding: 0 100px;
}
.ant-layout-footer {
  line-height: 1.5;
}
.ant-layout-header{
  line-height: 3.2;
}
.ant-layout-sider {
  background: #fff;
  color: #000;
  line-height: 120px;
}
.ant-layout-content {
  background: #fff;
  color: #444;
  min-height: 120px;
  line-height: 120px;
}
> .code-box-demo > div > .ant-layout {
  margin-bottom: 48px;
}
> .code-box-demo > div > .ant-layout:last-child {
  margin: 0;
}
.ant-carousel .slick-slide {
  text-align: center;
  overflow: hidden;
}
.ant-carousel .slick-slide h3 {
  color: #fff;
}
.ant-input{
    border-radius: 0px;
}
.lineBorder{
    border-bottom-width: 1px;
    border-bottom-color: #d9d9d9;
    border-bottom-style: solid;
}
.linkStyle{
    color: rgb(191,191,191);
}
.transformStyle{
    transform: rotate(90deg);
    padding-left: 7px;
}
.verticalStyle{
    width: 20px;
    color: #444;
    word-wrap: break-word;
}
.lineHeight30{
    height: 100%;
    line-height: 30px;
}
.menuRowHeight{
    height: 12rem;
}
.borderStyle3{
    border-top-color: #444;
    border-top-style: solid;
    border-top-width: 3px;
    border-left-color: #ccc;
    border-left-style: solid;
    border-left-width: 1px;
}
.marginRight20{
    margin-right: 10px;
}
.fontStyle{
    color: #333;
}
.huaWenKaiTi{
    font-family: 华文楷体;
    font-size: 15px;
    color: #444;
}
.ant-layout-content .ant-carousel{
  width: 88%;
  margin: 0 auto;
}
.wst-homepage-menu.ant-row .ant-col.ant-col-1{
    width: 3.7%;
}
.wst-homepage-menu.ant-row .ant-col.ant-col-16{
    width: 69%;
}
.wst-homepage-menu a:hover .verticalStyle{
    color: #c7c5c5;
}
.wst-homepage-menu a:hover .transformStyle .fontStyle{
    color: #c7c5c5;
}
